h1,h2,h3,h4,h5 {
	margin: 0px;
}
a {
	color: darkblue;
}
body {
	font-family: Arial;
	margin: 0px;
}
.header-footer {
	background-color: black;
	text-align: center;
	padding: 10px;
	color: white;
}
header {
	font-size: 2em;
}
footer {
	clear: both;
}
header a {
	color: white;
}
nav ul {
	text-align: center;
	background-color: black;
	padding: 9px !important;
}
nav li {
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #eee;
	display: inline;
}
.nav + .nav {
	margin-left: 10px;
}
#container {
	width: 1000px;
	margin: auto;
}
#content {
	width: 770px;
	padding: 10px;
	background-color: #eee;
	float: left;
}
aside {
	width: 180px;
	padding: 10px;
	background-color: #aaa;
	float: left;
	margin-left: 10px;
}
ul.vanilla {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
a.vanilla {
	text-decoration: none;
}