h1,h2,h3,h4,h5 {
	margin: 0px;
}
h1 {
	font-size: 1.75em;
	text-align: center;
}
p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
a {
	color: inherit;
}
li + li {
	margin-top: 0.75em;
}
body {
	font-family: "Open Sans", sans-serif;
	margin: 0px;

}
.orange {
	height: 3px;
	background-color: #EE6B33;
	clear: both;
}
.orange.slim {
	height: 1px;
}
#upper {
	background-color: #636363;
	width: 100%;
	float: left;
}
#upper-inner {
	width: 1000px;
	margin: auto;
}
.header-footer {
	font-family: Roboto, sans-serif;
	padding: 5px;
	color: white;
	text-transform: uppercase;
	/* genererad med http://css3gen.com/text-shadow/ */
	text-shadow: 4px 4px 2px rgba(50, 50, 50, .5)
}
header {
	font-size: 25px;
	float: left;
	font-weight: bold;
}
footer {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	background-color: #636363;
}
#footer {
	width: 1000px;
	clear: both;
}
header img {
	position: relative;
	top: 8px;
	left: 5px;
}
nav {
	float: right;
	height: 30px;
}
nav li {
	float: right;
	color: white;
	padding: 7px;
	padding-left: 15px;
	padding-right: 15px;
}
nav li.current {
	color: black;
	background-color: #EE6B33;
	border-top-left-radius: -5px;

	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	
	/* Genererad med http://css3gen.com/box-shadow/ */
	box-shadow: 0px 6px 12px 0px rgba(50, 50, 50, 0.6);
	-webkit-box-shadow: 0px 6px 12px 0px rgba(50, 50, 50, 0.6);
	-moz-box-shadow: 0px 6px 12px 0px rgba(50, 50, 50, 0.6);
}
.nav + .nav {
	margin-left: 10px;
}
#container {
	width: 1000px;
	margin: auto;
}
#container > .row {
	padding: 10px;
	float: left;
}
#content {
	width: 750px;
}
aside {
	width: 210px;
	background-color: #f2f2f2;
}
ul.vanilla {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
a.vanilla {
	text-decoration: none;
}
#ns-background {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	background-color: black;
	opacity: 0.7;
}
#ns-foreground {
	background-color: white;
	position: fixed;
	z-index: 101;
	padding: 50px;
	left: 150px;
	top: 50px;
	font-weight: bold;
	font-size: 1.5em;
}

.term {
	color: #EE6B33;
}

.explination {
	max-width: 300px;
	color: #fff;
	background-color: #636363;
	border: 1px solid #EE6B33;
	padding: 15px;
	border-radius: 5px;
	position: absolute;
	display: inline;
	opacity: 0;
}

.question {
	background-color: #eee;
}

.question-inner {
	color: #000ffa;
	cursor: pointer;
}
.answer {
	margin-left: 0.75em;
}
.hidden {
	display: none;
}