h1,h2,h3,h4,h5 {
	margin: 0px;
}
a {
	color: inherit;
}
body {
	font-family: "Open Sans", sans-serif;
	margin: 0px;
}
.orange {
	height: 7px;
	background-color: #EE6B33;
}
#bottom {
	clear: both;
}
#upper {
	background-color: #636363;
	width: 100%;
	float: left;
}
#upper-inner {
	width: 1000px;
	margin: auto;
}
.header-footer {
	font-family: Roboto, sans-serif;
	padding: 5px;
	color: white;
}
header {
	font-size: 25px;
	float: left;
	font-weight: bold;
}
footer {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	clear: both;
	background-color: #636363;
}
nav {
	float: right;
	height: 30px;
}
nav li {
	float: left;
	color: white;
	padding: 7px;
	padding-left: 15px;
	padding-right: 15px;
}
nav li.current {
	color: black;
	background-color: #EE6B33;
	border-top-left-radius: -5px;

	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	
	/*Genererad med http://css3gen.com/box-shadow/*/
	-webkit-box-shadow: 0px 3px 15px 3px rgba(50, 50, 50, 0.6);
	-moz-box-shadow: 0px 3px 15px 3px rgba(50, 50, 50, 0.6);
	box-shadow: 0px 3px 15px 3px rgba(50, 50, 50, 0.6);
}
.nav + .nav {
	margin-left: 10px;
}
#container {
	width: 1000px;
	margin: auto;
}
#container > * {
	padding: 10px;
	float: left;
}
#content {
	width: 750px;
}
aside {
	width: 200px;
	margin-left: 10px;
}
ul.vanilla {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
a.vanilla {
	text-decoration: none;
}